body{
  background-color:#000;
  width: 100%;
  color: #fff;
  
}
h1{
  font-size: 20px;
  margin-top: 20%;
  text-align: center;
  /* display: flex;
  justify-content: center; */
}
.group-quiz{
  width: 50%;
  background-color: #61b338;
  padding: 50px;
  margin: 0 auto;;
  text-align: center;
}

.img{
display: flex;
justify-content: center;
}

@media screen and(max-width:360px){ 

  .group-quiz{
    min-width: 50%;  }
}