body{
  background-color:cadetblue;
  width: 100%;
  
}
h1{
  display: flex;
  justify-content: center;
}
.group-quiz{
  border: 1px solid #000;
  background-color: aquamarine;
  padding: 50px;
  margin: 0 auto;;
  text-align: center;
}